@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Kumbh+Sans:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --font-primary: 'Kumbh Sans', sans-serif;
  --font-secondary: 'Barlow Semi Condensed', Arial, sans-serif;
  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;
  --callout-bg-color: #272727;
  --uvx-primary: #7085FF;
  --uvx-secondary: #3C5199;
  --uvx-accent-color: #F984FF;
  --uvx-r-gradient: linear-gradient(to right, var(--uvx-primary), transparent);
  --uvx-l-gradient: linear-gradient(var(--uvx-primary), #B0BBFF);
  --mask-r-gradient: linear-gradient(to right, rgba(0, 0, 0, 1.0) 30%, transparent 100%);
  --mask-l-gradient: linear-gradient(to left, rgba(0, 0, 0, 1) 10%, transparent 100%);
  --border-radius: 1.5rem;
  --font-large: 4rem;
  --font-medium: 2.5rem;
  --font-small: 1.5rem;
  --font-xsmall: 1rem;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for internet explorer/edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* the .webgl class is assigned to the canvas by Three.js */
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: 0;
}

/* Reusable classes for branding/theme */
.frosted-glass {
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.27) 44%, rgba(255, 255, 255, 0) 100%);
}

.ui-h3,
.ui-h2 {
  font-family: var(--font-primary);
  font-style: italic;
  font-weight: var(--fw-medium);
}

.ui-h3 {
  /* color: var(--uvx-accent-color); */
  color: var(--uvx-accent-color);
  font-size: var(--font-medium);
  letter-spacing: -1.181px;
  margin: 0;
}

.ui-h2 {
  color: #fff;
  font-size: var(--font-large);
  letter-spacing: -2.009px;
  margin: 0;
}

#title-subtitle-container {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.callout-title {
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background: var(--callout-bg-color);
  padding: 1rem 2rem;
}

.uvx-logo {
  height: 2.5rem;
  width: auto;
  z-index: 2;
}
