.uvx-logo {
    position: fixed;
    margin: 2%;
    z-index: 2;
}

.canvas-container {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

@media screen and (max-width: 820px) {
    .uvx-logo {
        width: 25%;
    }
}

@media screen and (max-width: 500px) {
    .uvx-logo {
        width: 33%;
        bottom: 0;
    }
}