.gameplay-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  z-index: 5;
  margin-top: -2.5rem;
}

.button-primary,
.button-secondary {
  text-decoration: none;
  border: none;
  padding: 1rem 2rem;
  font-size: var(--font-small);
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  font-weight: var(--font-weight);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}

.button-primary:hover,
.button-secondary:hover {
  transform: scale(1.1);
  border: 2px solid var(--uvx-primary);
  color: var(--uvx-accent-color);
}

.button-primary {
  /* background: var(--uvx-secondary); */
  background: #2196f3;
}

.button-secondary {
  /* background: var(--uvx-primary); */
  background: #4caf50;
}

.callout-button {
  background: var(--callout-bg-color);
}
