.gameplay-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  z-index: 5;
  margin-top: -2.5rem;
}

.button-primary,
.button-secondary,
.button-disabled {
  text-decoration: none;
  border: none;
  padding: 1rem 2.5rem;
  height: max-content;
  font-size: var(--font-small);
  border-radius: 2rem 2rem;
  font-family: var(--font-primary);
  font-weight: var(--fw-medium);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--uvx-secondary);
  border: 2px solid var(--uvx-primary);
  cursor: pointer;
}

.button-primary:hover,
.button-secondary:hover {
  transform: scale(0.95);
}

.button-primary {
  background-image: linear-gradient(var(--uvx-accent-color), #af57b1);
}

.button-primary:hover {
  color: white;
  background-image: radial-gradient(
    var(--uvx-secondary),
    var(--uvx-accent-color)
  );
  box-shadow: inset 9px 9px 6.5px rgba(0, 0, 0, 0.2);
}

.button-secondary {
  background: linear-gradient(var(--uvx-secondary), #29396f);
  color: var(--uvx-tertiary);
}

.button-secondary:hover {
  color: white;
  background-image: radial-gradient(
    var(--uvx-accent-color),
    var(--uvx-secondary)
  );
  box-shadow: inset 12px 12px 8px rgba(0, 0, 0, 0.2);
}

.button-disabled {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.27) 44%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border: 2px solid;
  color: var(--uvx-secondary);
  border-color: transparent rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.4)
    rgba(255, 255, 255, 0.1);
  cursor: not-allowed;
}

.wide-button {
  padding: 1rem 4rem;
}
