.countdown-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-container video {
  height: 100%;
  width: 100%;
}