#loading-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  background-size: cover;
  background-position: center;
  color: white;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  z-index: 3;
  opacity: 1;
  transition: opacity 1s linear;
}

#loading-screen.fade-out {
  opacity: 0;
}

.splash-video-overlay {
  display: flex;
}

.splash-video-overlay video {
  object-fit: cover;
}