#loading-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  color: #0ed8a5;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 1;
  transition: opacity 1s linear;
}

#loading-screen.fade-out {
  opacity: 0;
}


.fullscreen-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.bottom-video {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 20;
}

.bottom-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.fade-out {
  visibility: hidden;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    visibility: visible  }
  to {
    visibility: hidden  }
}

.loading-screen-title {
  position: absolute;
  left: 5rem; /* Adjust the percentage as needed to move horizontally */
  bottom: 0rem; /* Centers vertically */
  transform: translateY(-50%); /* Centers vertically */
  z-index: 3;
  text-align: left;
  color: white;
}



.fullscreen-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}




.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem;
}



.loading-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-end;
  flex-direction: column;
}

.loading-text {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}

.logo {
  height: 40px;
  object-fit: contain;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}