#loading-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  background-size: cover;
  background-position: center;
  pointer-events: none;
  display: flex;
  z-index: 2;
  opacity: 1;
  transition: opacity 1s linear;
}

#loading-screen.fade-out {
  opacity: 0;
}

.splash-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 3% 8%;
  z-index: 1;
}

.loading-video-hue {
  position: absolute;
  z-index: 0;
  bottom: 0;
  height: 30%;
  width: 100%;
  background: linear-gradient(to top, var(--uvx-primary), transparent);
}

#loading-screen video {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: luminosity;
}