#mocap-container {
    height: auto;
    position: absolute;
    z-index: 2;
}

.Desktop {
    width: 450px;
    bottom: 3%;
    left: 2%;
}

.Tablet {
    width: 450px;
    bottom: 1%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.Mobile {
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#webcam-stream {
    object-fit: cover;
    border-radius: 1rem;
    transform: scaleX(-1);
}

#landmark-guides {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}