#overlay-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 4;
  font-family: var(--font-primary);
  font-weight: var(--fw-medium);
}

.blend-hue {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: black;
  background-blend-mode: hue;
  opacity: 0.5;
  transition: all 1s ease-in-out;
}

.back-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 78%;
  background-color: var(--uvx-secondary);
}

.back-box-content {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 78%;
}

.left-box {
  display: grid;
}

.achievements-title {
  font-size: var(--font-small);
  color: white;
}

.achievement.completed {
  background-color: rgba(255, 255, 255, 0.3);
}

.achievement-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.achievement-info {
  display: flex;
  flex-direction: column;
}

.achievement-title {
  font-size: 1.2rem;
  color: white;
}

.achievement-description {
  font-size: 0.9rem;
  color: lightgray;
}

.ac-container:not(.completed) {
  opacity: 0.6;
  filter: blur(2px) drop-shadow(0 0 0 rgba(0, 20, 255, 1));
}

.center-box {
  background-color: var(--uvx-primary);
  border-radius: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: -7%;
  overflow: hidden;
  box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.2);
}

.center-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.person-silhouette {
  position: absolute;
  bottom: 0;
  max-height: 100%;
  opacity: 0.5;
}

.header-medal {
  width: 22%;
  background-color: var(--uvx-secondary);
  border-radius: 1.5rem 1.5rem;
  box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.7) transparent rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.6);
}

.header-title {
  display: flex;
  align-self: start;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  text-align: center;
  background-color: var(--uvx-secondary);
  border-radius: 2rem 2rem;
  padding: 2% 8%;
}

.header-score {
  font-size: 2.25rem;
  font-weight: 600;
  color: white;
  text-align: center;
  width: 25%;
}

.header-score span {
  font-weight: bold;
}

.data-point {
  position: absolute;
  width: 120px;
  padding: 10px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-title {
  display: flex;
  min-width: max-content;
  align-items: center;
  text-align: center;
  font-size: 1.35rem;
  color: white;
  margin-bottom: 10px;
}

.data-title img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.data-value {
  font-size: 1.75rem;
  color: var(--uvx-results-foreground);
  padding: 15px 60px;
  border-radius: 1rem 1rem;
}

.left-shoulder {
  top: 23%;
  left: 38%;
}

.right-shoulder {
  top: 23%;
  right: 35%;
}

.left-wrist {
  top: 65%;
  left: 36%;
}

.right-wrist {
  top: 65%;
  right: 32%;
}

.footer-box {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: var(--uvx-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  padding-bottom: 1%;
  z-index: 1000;
}

.footer-button {
  background-color: #fff;
  color: #333;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.footer-logo {
  height: 60px;
  margin: 0 auto;
}

/* 1024 */
@media (max-width: 1024px) {
  .left-box,
  .right-box {
    width: 28%;
    height: 60%;
  }

  .center-box {
    width: 40%;
    height: 80%;
  }

  .footer-button {
    font-size: 0.75rem;
    padding: 0.8rem 1.5rem;
  }
}

/* 768 */
@media (max-width: 768px) {
  .left-box,
  .right-box {
    width: 30%;
    height: 55%;
  }

  .center-box {
    width: 35%;
    height: 75%;
  }

  .footer-box {
    padding: 0 5%;
  }

  .footer-button {
    font-size: 0.85rem;
    padding: 0.7rem 1.2rem;
  }

  .footer-logo {
    height: 50px;
  }
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 2rem;
  height: 70%;
  transition: all 0.75s;
}
.bar {
  width: 50px;
  background-color: var(--uvx-primary);
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0.5rem;
}

.ac-container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem 2rem;
}

.achievement-container {
  display: flex;
  flex-direction: column;
}

.achievement-container::before {
  content: 'ACHIEVEMENTS';
  position: absolute;
  margin-top: -4rem;
  margin-left: -2%;
  font-size: var(--font-medium);
  font-weight: var(--fw-medium);
  font-style: italic;
  text-shadow: 3px 3px 6px black;
}

#achievement-item {
  display: flex;
  gap: 25px;
  color: white;
  font-size: 1.5rem;
}

#achievement-item input[type='checkbox'] {
  transform: scale(2);
  accent-color: var(--uvx-accent-color);
}

.achievement-content {
  display: flex;
  flex-direction: column;
}

.achievement-title {
  font-weight: var(--fw-medium);
  font-style: italic;
}

.chart-btmn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-right: 3rem;
}

.chart-ctnr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-ctnr-title {
  font-size: 1rem;
  color: white;
  font-weight: var(--fw-medium);
  transform: rotate(-35deg);
}
