#score-ui-bar {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 2% 3%;
  z-index: 1;
  /* border: 2px solid red; */
}

.score-ui-container {
  width: 25%;
}

.score-ui-container video {
  width: 25%;
  mix-blend-mode: lighten;
}

.score-tracker {
  display: flex;
  align-items: center;
  background-color: aquamarine;
}

.placeholder-bubble-effect {
  height: 60px;
  width: 75px;
  background-color: white;
  margin-right: 3%;
}

.score-popped {
  font-size: 2.5rem;
  margin-right: 3%;
  z-index: 2;
}

.streak-effect {
  background: orange;
}