.score-ui-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 2% 3%;
  width: 25%;
}

.uvx-logo {
  height: 25px;
  align-self: start;
  margin-bottom: 3%;
}

.score-tracker {
  display: flex;
  align-items: center;
  background-color: aquamarine;
}

.placeholder-bubble-effect {
  height: 60px;
  width: 75px;
  background-color: white;
  margin-right: 3%;
}

.score-popped {
  font-size: 2.5rem;
  margin-right: 3%;
  z-index: 2;
}

.streak-effect {
  background: orange;
}