#score-ui-bar {
  position: fixed;
  width: 100%;
  display: flex;
  margin: 2% 3%;
  z-index: 1;
}

.bubble-animations {
  position: relative;
  display: flex;
  min-width: 80px;
  width: 5%;
  transform: skew(-15deg, 0);
  background: radial-gradient(#00CAFF, #3560f9);
}

.bubble-animations video {
  width: 100%;
  mix-blend-mode: screen;
}

.animation {
  visibility: visible;
  border: 4px solid white;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.2);
  mix-blend-mode: screen;
}

.hide {
  visibility: hidden;
}

.popping-bubble {
  position: absolute;
  z-index: 2;
}

.player-score {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 5%;
  left: calc(2% + 80px); /* The bubble animation is min 80px, but generally 5% width */
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-score .fire-and-score {
  position: relative;
  display: inline-block;
}

.streaking-fire {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  scale: 2;
}

.player-score video {
  max-width: 100%;
  max-height: 150%;
}

.score-popped, .score-possible, .score-divider {
  color: white;
  font-weight: var(--font-weight);
  font-family: var(--font-primary);
  margin: 0 3%;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.score-popped {
  position: relative;
  z-index: 2;
  font-size: var(--font-large);
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.streak-effect {
  color: #ffa500;
  text-shadow: 1px 1px 2px black, 0 0 1em orange, 0 0 0.2em black;
}

.score-ui-container {
  display: flex;
  width: 25%;
  transform: skew(-15deg, 0);
  overflow: hidden;
}

.score-ui-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3ac393;
}

.score-ui-container::before, .score-bg-video {
  z-index: -1;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 30%, transparent 100%);
}

.score-bg-video {
  position: absolute;
  width: 100%;
  mix-blend-mode: color-dodge;
}

.score-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: calc(10% + 80px);
  width: 100%;
}

.score-possible-container {
  display: flex;
  width: 100%;
}

.score-divider {
  margin: 0;
  font-size: var(--font-small);
}

.score-possible {
  font-size: var(--font-small);
  margin-left: 4%;
}

.score-progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 75%;
  height: 25%;
  margin-left: 5%;
  transform: skew(-15deg, 0);
  background: rgba(113, 239, 220, 0.6);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.chunk {
  height: 100%;
  width: 20%;
  box-shadow: inset 5px 0px 5px rgba(61, 142, 108, 0.2);
  overflow: hidden;
  /* border: 2px solid rgba(61, 142, 108, 0.8); */
  border: 2px solid white;
}

.colored-bar {
  position: absolute;
  z-index: -1;
  height: 100%;
  /* background-color: #32EEA4; */
  background-color: var(--uvx-secondary);
}

@media screen and (max-width: 1250px) {
  .score-ui-container {
    width: 30%;
  }

  .score-popped {
    font-size: var(--font-medium);
  }

  .player-score-container {
    display: flex;
    align-items: center;
  }

  .score-possible {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .player-score {
    height: 90%;
  }

  .score-ui-container {
    width: 50%;
  }
}

@-moz-document url-prefix() {
  .score-popped {
      top: 112%;
      left: 10%;
  }
}