#setup {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #c6cdff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.startButton {
  background-image: var(--uvx-l-gradient);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: var(--uvx-accent-color) 2px solid;
  cursor: pointer;
}

.setup-screen-bg-video {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -3;
}

.uvx-logo {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  top: 2%;
  /* left: 43%; */
  z-index: -3;
}

.select-environment-title {
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  border-radius: var(--border-radius);
  background: var(--callout-bg-color);
  text-align: center;
}

#environment-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  margin-top: 5%;
}

.environment-card {
  position: relative;
  width: 100%;
  height: 75%;
  aspect-ratio: 1 / 1.5;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  overflow: hidden;
}

.parallax-bg {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  background-size: cover;
  background-position: center;
  transition: transform 0.1s;
}

.hover-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  width: 100%;
  text-align: center;
  font-style: italic;
  font-weight: var(--fw-medium);
  pointer-events: none;
  opacity: 0; /* Start hidden */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100%;
  padding: 2%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 15px;
  align-items: center;
  transition: transform 0.5s;
}

.box3-content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  width: auto;
  color: white;
  padding: 1rem;
}

.box3-section {
  border: 2px solid #ccc;
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.box3-section.cards {
  display: flex;
  background-color: var(--callout-bg-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 2px solid #ccc;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: center;
}

.box3-section h3 {
  margin-bottom: 0.5rem;
}

.box3-section p {
  font-size: 1.2rem;
}

.box3-section.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.box3-section.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--uvx-primary);
  color: white;
  border: 2px solid var(--uvx-secondary);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: var(--uvx-secondary);
}

.new-content {
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.hovered-image {
  max-height: 10rem;
  transition: opacity 0.3s ease;
}

#avatar-cards-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 95%;
  gap: 1rem;
  margin-top: 5%;
}

.avatar-card {
  position: relative;
  width: 75%;
  aspect-ratio: 0.5 / 1;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  overflow: hidden;
}

.avatar-card .hover-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  width: 100%;
  text-align: center;
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  pointer-events: none;
  opacity: 0; /* Start hidden */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100%;
  padding: 2%;
}

.box2-content {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hovered-avatar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}

.hovered-avatar-image {
  max-width: 50vw;
  max-height: 50vh;
  object-fit: contain;
  opacity: 0.9;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.hovered-avatar-image:hover {
  opacity: 1;
  transform: scale(1.05);
}

#options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option label {
  font-size: 16px;
  cursor: pointer;
}

.option input[type='checkbox'] {
  transform: scale(1.5);
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
