#sliding-info-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.sliding-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: transparent;
  color: black;
  padding: 2%;
  width: 40%;
  /* mocap screen is 450px in desktop and Tablet */
  min-width: calc(4% + 450px);
  height: 100%;
  z-index: 2;
}

.si-video-hue {
  position: absolute;
  width: 40%;
  height: 100%;
  mix-blend-mode: inherit;
  z-index: 1;
  background: linear-gradient(to right, var(--uvx-primary) 60%, transparent);
}

.sliding-info-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: -5%;
}

.sliding-info-content {
  display: flex;
  flex-direction: column;
  padding: 2%;
  height: calc(98% - 300px);
}

.white-logo {
  width: 50%;
  margin-bottom: 8%;
}

.sliding-title-override > h2 {
  font-size: var(--font-medium) !important;
  margin-bottom: 3%;
  text-shadow: 2px 2px var(--uvx-secondary);
}

.sliding-title-override > h3 {
  text-shadow: 2px 2px var(--uvx-secondary);
}

.sliding-info-instructions {
  font-size: var(--font-small);
  font-family: var(--font-primary);
  color: white;
}
