.spectator-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 50%;
  overflow: scroll;
  /* display: flex;
  flex-direction: column; */
}

#video-card, #audio-card {
  display: flex;
  margin-bottom: 0.5rem;
  /* border-radius: var(--border-radius);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); */
  padding: 1rem;
  font-family: var(--font-primary);
  text-shadow: #000 3px 0 3px;
  color: white;
}

#video-card {
  align-items: end;
  justify-content: space-between;
  width: 300px;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
}

#audio-card {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 150px;
}

.audio-icon {
  background: var(--uvx-primary);
  border-radius: 50%;
  border: 2px solid var(--uvx-secondary);
  padding: 0.25rem;
}

.small-video {
  width: 225px !important;
  padding: 0.5rem !important;
  font-size: 0.75rem !important;
}

.small-audio {
  width: 125px !important;
  margin-left: 40%;
  padding: 0.5rem !important;
  font-size: 0.75rem !important;
}