.spectator-wrapper {
  display: flex;
  flex-direction: column;
}

#video-card, #audio-card {
  display: flex;
  margin-bottom: 0.5rem;
  /* border-radius: var(--border-radius);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); */
  padding: 1rem;
  font-family: var(--font-primary);
  text-shadow: #000 3px 0 3px;
  color: white;
}

#video-card {
  align-items: end;
  justify-content: space-between;
  width: 300px;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
}

#audio-card {
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100px;
  width: 150px;
  overflow: hidden;
  align-self: end;
  /* background: linear-gradient(to right, rgba(58, 195, 147, 0.3), rgba(71, 255, 191, 0.5)); */
}

.audio-icon {
  background: var(--uvx-primary);
  border-radius: 50%;
  padding: 0.25rem;
}