.view-ui-container {
  display: flex;
  position: fixed;
  bottom: 3%;
  right: 1%;
  width: 10%;
  color: white;
  font-family: var(--font-primary);
  align-items: center;
  justify-content: center;
  pointer-events: all;
  z-index: 3;
  padding: 1%;
  backdrop-filter: blur(50px);
}

.view-ui-buffer {
  padding: 1%;
}

.view-button {
  background-color: var(--uvx-primary);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: var(--fw-medium);
  transition: all 0.3s ease-in-out;
}

.view-button:hover {
  transform: scale(1.1);
}

.vbt {
  font-size: 1rem;
}
